/* You can add global styles to this file, and also import other style files */
html {
    background: radial-gradient(#d86969, #beaf6d);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    min-height: 100vh;
}

.overlay {
    background: radial-gradient(#d86969, #beaf6d);
    border: 1px solid white;
    border-radius: 2rem;

    padding: 0.5rem;

    box-shadow: 6px 6px 5px 5px #0000002d;

    z-index: 100;
}